* {
    font-family: "Noto Sans KR", sans-serif;
}
body {
    margin: 0 auto;
    line-height: 1.15;
}

/* main - swiper slide */
main {
    max-width: 1024px;
    min-width: 1024px;
    padding: 20px 30px;
    margin: 0 auto;
}
.swiperSlide {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.swiperImg {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
}
.swiperSlide img {
    width: 100%;
}
.swiperPage {
    position: absolute;
    right: 32px;
    bottom: 32px;

    padding: 4px 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.65);
    font-family: "Barlow", sans-serif;
}
.swiperPageCurrent {
    color: #fff;
}
.swiperPageTotal {
    color: #9b9b9b;
}

/* main - mini menu */
.miniMenu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.miniMenu a {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;
}
.miniMenu a img {
    border-radius: 10px;
    width: 100%;
    height: 70px;
}

/* article reusable classes */
article {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
article a:link,
article a:visited,
article a:hover,
article a:active {
    color: #000;
    margin-bottom: 16px;
}
.articleTitle {
    font-size: 26px;
}
.articleContents {
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
}
.articleImg {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 10px;
}
.articleImg img {
    width: 100%;
    height: 350px;
}
.articleDesc {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.nextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 159px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
}
.nextBtn img {
    width: 32px;
    height: 32px;
}
.articlePrice {
    display: flex;
    font-family: Barlow;
    margin-top: 16px;
}
.percentage {
    color: #6200f0;
}
.price {
    margin: 0 10px 0 4px;
}
.deliveryIcon {
    width: 60px;
}
.heartIcon {
    width: 16px;
    position: absolute;
    top: 0;
    right: 0;
}
.viewMore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 345px;
    height: 44px;
    border: 1px solid #000;
}

/* main - main article */
.mainArticle img {
    width: 100%;
}

/* main - time sale article */
.timeSaleContents a {
    display: flex;
    flex-direction: column;
}
.timeSaleImg {
    position: relative;
}
.saleTag {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 15px;
    font-family: Barlow;
    font-size: 15px;
    background-color: #000;
    color: #fff;
}

/* main - best article */
.bestContents {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.bestContents a img {
    width: 300px;
    height: 300px;
}
.bestNextBtn {
    top: 134px;
}

/* main - review articles */
.reviewContents {
    width: 100%;
    overflow: hidden;
}
.reviewImg {
    width: 100%;
    overflow: hidden;
    margin-bottom: 4px;
}
.reviewImg img {
    width: 300px;
    height: 300px;
}
.reviewProduct {
    color: #777;
}
